@import "haunter.css"; 

* {
    border: none;
    border-radius: 10px;
    font-family: "Mononoki Nerd Font";
    font-size: 16px;
    min-height: 10px;
}

.modules-right,
.modules-left 
{
	background: rgba(10,19,41,0.6);
	border: none;
	margin: 4px;
	padding-bottom: 4px;
}
window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}
#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
}

#tray {
	padding-left: 10px;
	margin-top: 6px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
}
#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	background: rgba(10,19,41,0.6);
	transition: none;
	border-radius: 10px;
}

#workspaces button {
	transition: none;
	color: @color4;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.active {
	transition: none;
        color: @foreground;
	background: transparent;
	font-size: 4px;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @foreground;
}

#workspaces button.focused {
	border-top: 2px solid @color6;
        background-color: @color1;
        color: #323232;
}

#workspaces button.focused:hover {
	color: @color15;
}

#window,
#workspaces {
        margin: 0 4px;
}


#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 6px;
	padding-left: 5px;
	padding-right: 5px;
	transition: none;
    	color: #89DCEB;
}
#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 2px;
	transition: none;
	color: @color4;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color4;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding: 4px;
	margin-bottom: 0px;
	transition: none;
	color: @color4;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color4;
}
#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color4;
}
@keyframes blink {
    to {
        background-color: #BF616A;
        color: #9F9C9D;
    }
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

